<nav class="navbar  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          Task Manager
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menuNavbar">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated() %}
        <li><a href="{{ url_for("users_api.password") }}">
            <i class="fa fa-user"></i> {{user.username}}(change password)
          </a></li>
          <li><a href="/users/logout">
            <i class="fa fa-sign-out" ></i> Déconnexion
          </a></li>
        {% else %}
          <a class="btn btn-default navbar-btn login-button" href="/users/login">Se connecter</a>
          <a class="btn btn-default navbar-btn signup-button" href="/users/register">S'inscrire</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
